{% extends "predict/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class='content-section col-md-8 center'style="
margin-right: auto;
margin-left: auto;
margin-top:50px;
padding:25px;
min-height: 700px;max-height: 700px;overflow: scroll;
">


<div>
    <div class="media">
        <img id='profile-pic' style="width:225px;height:250px;"class="rounded-circle account-img" src="{{ obj.profile.image.url }}">
        <div class="media-body">
            <h2 style="margin-top:10px"class="account-heading">{{ obj.username }}</h2>
            <div>
                <p class="">Joined: {{ obj.date_joined }}</p>
                <p class="">Margin1: {{ obj.profile.ev_margin1 }}/{{ obj.profile.ev_margin1_count }}</p>
                <p class="">Margin2: {{ obj.profile.ev_margin2 }}/{{ obj.profile.ev_margin2_count }}</p>
                <p class="">Margin3: {{ obj.profile.ev_margin3 }}/{{ obj.profile.ev_margin3_count }}</p>
                <p class="">Correct/Predictions: {{ obj.profile.correct }}/{{ obj.profile.predictions }}</p>
                
            </div>
                </div>


</div>


<style>

@media screen and (max-width: 500px) {
  #profile-pic{
    display:none;
  }

}

</style>





{% for game in games %}


            {% if game.p0 is None %}
                <div class="ff" >

              <article  class="media content-section ff">
              <p style="margin-bottom: 0px;">
                <font color="red">Error game not found</font>: Invalid Input.  Make sure the game date is correct and visitor/home team are not miss-matched.  Try again or click on one of today's games.  

              </p>

            </article>
          </div>

            {% else %}
            <a href="{% url 'edit-predict' game.pk%}">
            <div class="" >

              <article id="game" class="content-section gameScroll"style="margin-top: 10px;padding-top:8px;">
                <!--
                  background: linear-gradient(90deg, {{game.visitorcolor}} 0%, rgba(248,248,248,1) 30%, rgba(248,248,248,1) 50%, rgba(248,248,248,1) 70%, {{game.homecolor}} 100%);
                -->

                  <div class="row">
                    <div class="col-3"style="padding:0">
                      <center>
                        <p style="margin:0px">{{ game.visitor }} - {{ game.visitor_score }} </p>
                        <img id="team-logo" class="" style="display:inline;height: 93px;"src="{% static 'predict/nba-logo/' %}{{ game.visitor }}.webp">

                    </center>
                    </div>
                    <div class="col-6"style="padding:0;">
                        <center>
                        <!--<p style="margin:0px">{{ game.prediction }}</p>!-->

                        
                        {% if not game.finished%}
                        <br>
                        {% else%}

                        {% if game.pmscore >= 0 and game.winner == 1 or game.pmscore < 0 and game.winner == 0 %}
                        <p style="margin:0px; color:rgb(65, 199, 8)">{{ game.pmscore |floatformat:2 }} <i class="fas fa-check"></i></p>
                          {%else%}
                        <p style="margin:0px; color:rgb(255, 0, 0)">{{ game.pmscore  |floatformat:2 }} <i class="fas fa-times"></i></p>


                          {% endif %}
                          <p style="margin:0px">{{ game.gamedate }}</p>
                        {% endif %}
                        <div style="height: 75px !important;">
                        <canvas  id="{{ game.pk }}" ></canvas>
                        </div>
                        </center>




                        <script defer>
                            let data{{game.pk }} = {
                                labels: [
                                  '',
                                ],
                                datasets: [{
                                  label: 'prediction',
                                  data: ["{{ game.pmscore }}"],

                                  backgroundColor: [

                                  {% if game.finished%}
                                    {% if game.pmscore >= 0 and game.winner == 1 or game.pmscore < 0 and game.winner == 0 %}
                                      'rgb(65, 199, 8)',
                                    {%else%}
                                      'rgb(255, 0, 0)',

                                    {% endif %} 
                                  {% endif %}

                                  {%if not game.finished%}
                                  'rgb(107,112,113)',
                                  {% endif %}


                                    

                                  ],
                                  hoverOffset: 10,

                                  borderWidth: 1,

                                
                                }]
                              };


                          let config{{game.pk }} = {
                              type: 'bar',
                              data: data{{game.pk }},
                              options: {
                                  maintainAspectRatio: false,
                                  responsive: true,
                                  reverse: true,

                                  start: 0,
                                  end: 0,
                                  begin: 1,
                                  base: 0,
                                  middle: 0,
                                  indexAxis: 'y',
                                  plugins: {
                                      legend: {
                                        display: false
                                      }
                                    },
                                    layout: {
                                      padding: {
                                          // Any unspecified dimensions are assumed to be 0                     
                                          top: 5,
                                          bottom: 5,
                                          left: 5,
                                          right: 5,
                                      }
                                  },
                                  yAxes: [{
                                      type: 'time',
                                      ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 1
                                      }
                                }],
                                  scales: {
                                    x: {
                                      min: -10,
                                      max: 10,
                                      ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 4
                                      },
                                    


                                    },
                                    y: {
                                      min: 0,
                                      max: 1,
                                      
                                      weight: 1,

                                    }
                                  }
                                  }

                            };

                            const c{{game.pk }} = new Chart(document.getElementById('{{ game.pk }}'),config{{game.pk }});

                        </script>
                    </div>
                      <div class="col-3" style="padding:0">
                        <center>
                          <p style="margin:0px">{{ game.home }} - {{ game.home_score }} </p>
                      <img id="team-logo" class="" style="display:inline;height: 100px;"src="{% static 'predict/nba-logo/' %}{{ game.home }}.webp">

                        </center>
                    </div>
                    

                  </div>




                  {% if game.prediction is None %}


                  {% else %}
                  

                  {% endif %}
              </article>
            </div>
            </a>
            {% endif %}

            {% empty %}
              <br>
              <h2>No Predictions!</h2>
              <br>
              <h5>Use the calendar to select a date, then choose a game!</h5>

          {% endfor %}










        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script  src="{% static 'predict/myChart.js'%}" defer></script>

<script>

</script>

{% endblock content%}
