{% extends "predict/base.html"%}
{% load crispy_forms_tags %}
{% block content%}
<div class='content-section col-md-8 center'style="
margin-right: auto;
margin-left: auto;
margin-top:75px;
height:500px;
padding:25px;
">


<div>
    <div class="media">
        <img style="width:275px;height:300px;"class="rounded-circle account-img" src="{{ obj.profile.image.url }}">
        <div class="media-body">
            <h2 style="margin-top:25px"class="account-heading">{{ obj.username }}</h2>
            <div>
                <p class="">Joined: {{ obj.date_joined }}</p>
                <p class="">Margin1: {{ obj.profile.ev_margin1 }}/{{ obj.profile.ev_margin1_count }}</p>
                <p class="">Margin2: {{ obj.profile.ev_margin2 }}/{{ obj.profile.ev_margin2_count }}</p>
                <p class="">Margin2: {{ obj.profile.ev_margin3 }}/{{ obj.profile.ev_margin3_count }}</p>
                <p class="">predictions/correct: {{ obj.profile.predictions }}/{{ obj.profile.correct }}</p>
                
            </div>
        </div>


</div>
<script>





</script>

{% endblock content%}
