

{% extends "predict/base.html"%}
{% load crispy_forms_tags %}

{% block content%}




<div style="margin-top: 20vh;z-index: 100;width:100%;color:#F8F8F8;
">
<center>
    <div style="padding:10px;">
    
    <p id=""style="font-size: 65px;margin-bottom: 2px">NBA Data.Cloud</p>

    </div>
    
    <p id=""style=""><a style="position: relative;"  href="{% url 'login'%}"class="btn btn-grey">Login <i class="fas fa-sign-in-alt"></i></a>
    <a style="position: relative;"  href='https://github.com/nealmick/bb'class="btn btn-grey-secondary"target="_blank">GitHub <i class="fab fa-github"></i></a></p>
</center>
</div>





{% endblock content %}