{% extends "predict/base.html"%}

{% load static %}


{% block content%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="overflow: auto;color:#333333 !important">

	<body class="">

  			<div class="col-12">
			<div class="content-section" style="opacity: 0.95;margin-top:25px;">
			<div style="overflow: auto;">

				











                  <div class="row center col-md-10" style="">
                    <div class="col-3"style="padding:0">
                      <center>
                        <p style="margin:0px">{{ visitor }} - {{ visitor_score }} </p>
                        <img class="" style="display:inline;height: 150px;"src="{% static 'predict/nba-logo/' %}{{ visitor }}.webp">

                    </center>
                    </div>
                    <div class="col-6"style="padding:0; height: 200px;">
                    	<center>
                        <p style="margin:0px">{{ gamedate }}</p>
                                {% if prediction is None %}
						          <input onclick="myFunction()" type="button" class="btn btn-grey" value="Predict">
						          {% else%}
                        <p style="margin:0px">{{ prediction }}</p>

					          	{%endif%}

					    
                    	</center>
                        <center>

                        <div style="height: 125px !important;">
                        <canvas  id="c" ></canvas>
                        </div>
                        </center>




                        <script defer>
                            let data = {
                                labels: [
                                  '',
                                ],
                                datasets: [{
                                  label: 'prediction',
                                  data: ["{{ prediction}}"],

                                  backgroundColor: [

                                  {% if finished%}
                                    {% if prediction >= .5 and winner == 1 or prediction < .5 and winner == 0 %}
                                      'rgb(65, 199, 8)',
                                    {%else%}
                                      'rgb(255, 0, 0)',

                                    {% endif %} 
                                  {% endif %}

                                  {%if not finished%}
                                  'rgb(107,112,113)',
                                  {% endif %}


                                    

                                  ],
                                  hoverOffset: 10,

                                  borderWidth: 1,

                                
                                }]
                              };


                          let config = {
                              type: 'bar',
                              data: data,
                              options: {
                                  maintainAspectRatio: false,
                                  responsive: true,
                                  reverse: true,

                                  start: .5,
                                  end: 0,
                                  begin: 1,
                                  base: .5,
                                  middle: .5,
                                  indexAxis: 'y',
                                  plugins: {
                                      legend: {
                                        display: false
                                      }
                                    },
                                    layout: {
                                      padding: {
                                          // Any unspecified dimensions are assumed to be 0                     
                                          top: 5,
                                          bottom: 5,
                                          left: 5,
                                          right: 5,
                                      }
                                  },
                                  yAxes: [{
                                      type: 'time',
                                      ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 1
                                      }
                                }],
                                  scales: {
                                    x: {
                                      min: 0,
                                      max: 1,
                                      ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 4
                                      },
                                    


                                    },
                                    y: {
                                      min: 0,
                                      max: 1,
                                      
                                      weight: .5,

                                    }
                                  }
                                  }

                            };

                            const c = new Chart(document.getElementById('c'),config);

                        </script>
                    </div>
                      <div class="col-3" style="padding:0">
                        <center>
                          <p style="margin:0px">{{ home }} - {{ home_score }} </p>
                      <img class="" style="display:inline;height: 150px;"src="{% static 'predict/nba-logo/' %}{{ home }}.webp">

                        </center>
                    </div>
                    

                  </div>




                  {% if game.prediction is None %}


                  {% else %}
                  {% if not finished%}
                    <form action="{% url 'get-score' pk %}" method="get">
                      <div>
                        <p style="margin-bottom: 0px;margin-top:2px;"><input type="submit" style="padding: 3px;margin-left: auto;margin-right: auto;" class="btn btn-grey" value="Get Score" name="mybtn"> </p>

                        
                    </form>
                  {% endif %}

                  </div>
            {% endif %}












				<p></p>
				<div style="overflow: auto; color:white;">
				<table align="center">
						<tr>
							<td>Top 6 Players</td>
							<td>#</td>
							{% for label in labels%}
								<td>{{label}}</td>
							{% endfor %}
						</tr>




						{% for k, v in stats.items %}

							<tr>
							<td>{{ k }} </td>
							{%for stat in v%}
									{% if forloop.counter == 1 %}
											<td >{{stat}}</td>
									{%else%}
											{% if prediction is None%}
												<td class="e oof" id="{{ v.0 }}:{{forloop.counter}}">{{stat}}</td>
											{% else %}
												<td class="oof" id="{{ v.0 }}:{{forloop.counter}}">{{stat}}</td>
											{% endif %}
									{%endif%}
							{%endfor%}
						</tr>
						{% endfor %}


				</table>
			</div>
</div>
				
				<script defer>
				var changes = "change=";
				var asdf =""
				editing = false

				document.body.addEventListener('click', function (event) {
					console.log('click')

				var press = jQuery.Event("keypress");
				press.ctrlKey = false;
				press.which = 13;
				$(".e").trigger(press);
				console.log(changes)

				})



				$(function(){
						$(".e").click(function(event){
								if(!editing){
									editing=true;
									if($(this).children("input").length > 0)
											return false;
									f = $(this).attr("id");
									var tdObj = $(this);
									asdf = tdObj
									lastObj = tdObj
									var preText = tdObj.html();
									var inputObj = $("<input type='number' id='asdf'/>");
									tdObj.html("");
									inputObj.width(tdObj.width())
											.height(tdObj.height())
											.css({border:"0px",fontSize:"17px"})
											.val(preText)
											.appendTo(tdObj)
											.trigger("focus")
											.trigger("select");

									inputObj.keyup(function(event){
											if(13 == event.which) { // press ENTER-key
													var text = $(this).val();
													tdObj.html(text);
													changes += f+":"+$(this).val()+"-";
													editing=false;
											}

											else if(27 == event.which) {  // press ESC-key
													tdObj.html(preText);
													editing=false;

											}

										});



									inputObj.click(function(){
											return false;
									});
						}

						});
				});

				function myFunction() {
						window.location.href = changes;

				}
				</script>
			</div>





	</body>
{% endblock %}
