{% extends "predict/base.html"%}

{% load static %}


{% block content%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="overflow: auto;color:#333333 !important">

  <body class="">

        <div class="col-12">
      <div class="content-section" style="opacity: 0.95;margin-top:25px;">
      <div style="overflow: auto;">

                  <div id="game-info" class="row center col-md-10" style="">

                    <div class="col-3"style="padding:0">
                      <center>
                        <a href="{% url 'team-view' visitor%}">
                          <img id="team-logo" class="" style="display:inline;height: 150px;"src="{% static 'predict/nba-logo/' %}{{ visitor }}.webp">

                      </a>

                        <p style="margin:0px">Predicted Score: {{ pvscore }} </p>

                        <p style="margin:0px">Actual Score: {{ visitor_score }} </p>

                        <p style="margin:0px"data-toggle="tooltip" data-placement="bottom" title="Injured players    {{visitor_injuries}}">{{ vw }} / {{ vl }} / {{ visitor_streak }} / {{visitor_injury}}</p>

                        <p style="margin:0px"> {{ visitor_spread }} / {{ dk_visitor_spread }}</p>

                    </center>
                    </div>
                    <div class="col-6"style="padding:0; height: 200px;">
                      <center>
                        


                        <div style="height: 125px !important;">
                          {% if pmscore == 0 %}
                        <input style="margin-top:35px;margin-bottom:7px" onclick="myFunction()" type="button" class="btn btn-grey" value="Predict">
                        <br>
                      <select id="model-slot" style="margin-top:5px;width:50%;height:35px;border-radius: 10px;margin-bottom: 2px !important;padding:5px;border: 0px;shadow: 0px;resize:none" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option value="0" selected>Model 0</option>
         
                        <option value="1">Model 1</option>
        
                        <option value="2">Model 2</option>
        
        
                      </select>
                      <br>
                      {% else %}
                      {% if visitor_spread == '0' %}
                      <p style="margin:0px">No Spread found!!</p>

                      {% else%}
                        
                        <p style="margin:0px">{{ gamedate }}</p>
                      
                      {% endif %}
                      <canvas  id="c" ></canvas>
                      <br>
                      <br>
                      {% endif%} 
                        </div>
                      </center>
                      <center>
    
                      <br>

                        <p style="margin:0px;margin-left: 7px !important;">{{ pmscore|floatformat:2 }}</p>
                        <p style="margin:0px;margin-left: 7px !important;">{{ pmactual }}</p>

                      <p style="margin:0px;margin-left: 7px !important;">Win / Loss / Streak / Injuries</p>

                      <a style="margin:0px;color:#010100 !important;margin-left: 7px !important;" target="_blank"href="https://sportsbook.fanduel.com/navigation/nba">FanDuel  / <a style="margin:0px;color:#010100 !important;" target="_blank"href="https://sportsbook.draftkings.com/leagues/basketball/nba">DraftKings </a>
                      
                      
                      {% if visitor_spread == '0' %}
                        {% elif pmscore != 0 %}
                        <p style="margin:0px;"data-toggle="tooltip" data-placement="bottom" title="Margin refers to the distance between the predicted outcome and the point spread.">
                        
                        {% if finished %}
                          {% if ev_won == '1'%}
                          <p style="margin-bottom: 0px;">
                            {% if spread_prediction == '1'%}
                            Margin: {{ margin |floatformat:2}}
                            <i style="color:rgb(65, 199, 8)" class="fas fa-arrow-right"></i>
                            {% else%}
                            <i style="color:rgb(65, 199, 8)" class="fas fa-arrow-left"></i>
                            Margin: {{ margin |floatformat:2}}
                            {%endif%}
                          </p>
                          
                          {% else %}
                          <p style="margin-bottom: 0px;">
                            {% if spread_prediction == '1'%}
                            Margin {{ margin |floatformat:2}}
                            <i style='color:rgb(255, 0, 0)' class="fas fa-arrow-right"></i> 

                            {% else %}
                            <i style='color:rgb(255, 0, 0)' class="fas fa-arrow-left"></i> 

                            Margin: {{ margin |floatformat:2}}
                            {% endif %}
                            {% endif %}

                          {% else %}
                        
                        {% if spread_prediction == '1'%}
                          Margin {{ margin |floatformat:2}}
                          <i class="fas fa-arrow-right"></i> 

                          {% else %}
                          <i  class="fas fa-arrow-left"></i> 
                          Margin: {{ margin |floatformat:2}}
                        {% endif %}
                        {% endif %}
                        {% endif %}

                      </p>

                    </a>
                      <br>
                      <br>
                      <!--
                    <input style="margin:10px"type="text" id="player_search" name="player_search"placeholder="Search Players"><br><br>

                      -->
                      
                      

              
                      </center>





                        <script defer>
                            let data = {
                                labels: [
                                  '',
                                ],
                                datasets: [{
                                  label: 'prediction',
                                  data: ["{{ pmscore }}"],


                                  backgroundColor: [

                                  {% if finished%}
                                    {% if pmscore >= 0 and winner == 1 or pmscore < 0 and winner == 0 %}
                                      'rgb(65, 199, 8)',
                                    {%else%}
                                      'rgb(255, 0, 0)',

                                    {% endif %} 
                                  {% endif %}

                                  {%if not finished%}
                                  'rgb(107,112,113)',
                                  {% endif %}


                                    

                                  ],
                                  hoverOffset: 10,

                                  borderWidth: 1,

                                
                                }]
                              };


                          let config{{game.pk }} = {
                              type: 'bar',
                              data: data{{game.pk }},
                              options: {
                                  maintainAspectRatio: false,
                                  responsive: true,
                                  reverse: true,

                                  start: 0,
                                  end: 0,
                                  begin: 1,
                                  base: 0,
                                  middle: 0,
                                  indexAxis: 'y',
                                  plugins: {
                                      legend: {
                                        display: false
                                      }
                                    },
                                    layout: {
                                      padding: {
                                          // Any unspecified dimensions are assumed to be 0                     
                                          top: 5,
                                          bottom: 5,
                                          left: 5,
                                          right: 5,
                                      }
                                  },
                                  yAxes: [{
                                      type: 'time',
                                      ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 1
                                      }
                                }],
                                  scales: {
                                    x: {
                                      min: -10,
                                      max: 10,
                                      ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 4
                                      },
                                    


                                    },
                                    y: {
                                      min: 0,
                                      max: 1,
                                      
                                      weight: 1,

                                    }
                                  }
                                  }

                            };

                            const c = new Chart(document.getElementById('c'),config);

                        </script>
                    </div>
                      <div class="col-3" style="padding:0">
                        <center>
                          <a href="{% url 'team-view' home%}">
                            <img id="team-logo" class="" style="display:inline;height: 150px;"src="{% static 'predict/nba-logo/' %}{{ home }}.webp">
  
                        </a>
  

                          <p style="margin:0px">Predicted Score: {{ phscore }} </p>
                          <p style="margin:0px">Actual Score: {{ home_score }} </p>
                          <p style="margin:0px"data-toggle="tooltip" data-placement="bottom" title="Injured players   {{home_injuries}}">{{ hw }} / {{ hl }} / {{ home_streak }} / {{ home_injury }}</p>

                          <p style="margin:0px"> {{ home_spread }} / {{ dk_home_spread }}</p>

                        </center>
                    </div>
                    

                  </div>




                  {% if game.prediction is None %}
                  

                  {% else %}
                  {% if not finished%}
                    <form action="{% url 'get-score' pk %}" method="get">
                      <div>
                        <p style="margin-bottom: 0px;margin-top:2px;border: 1px solid #969696;border-radius: 10px;"><input type="submit" style="padding: 3px;margin-left: auto;margin-right: auto;" class="btn btn-grey" value="Get Score" name="mybtn"> </p>

                        
                    </form>
                  {% endif %}

                  </div>
            {% endif %}









          

        <p></p>
        <div style="margin-top:35px;overflow: auto; color:white;">
        <table align="center">
            <tr>
              <td>Input Players</td>
              <td>#</td>
              {% for label in labels%}
                <td>{{label}}</td>
              {% endfor %}
            </tr>




            {% for k, v in stats.items %}

              <tr>
              
              
                  {% if pmscore == 0%}
                  <td class="remove-player" style="border-radius:0px">
                  <button  style="background: transparent;
                  border: none !important;color: #333333"onclick="window.location.href='{% url 'remove-player' pk k%}';">
                    {{k}}
                  </button>
                </td>

                  {% else %}
                  <td  class="oof" >
                    <button  style="background: transparent;
                    border: none !important;color: #333333"onclick="window.location.href='{% url 'player-detail-name' k%}';">
                      {{k}}
                    </button>
                </td>
                  
                  {% endif %}


              {%for stat in v%}

                  {% if forloop.counter == 1 %}
                      <td >{{stat}}</td>
                  {%else%}
                      {% if pmscore == 0%}
                        <td class="e oof" id="{{ v.0 }}:{{forloop.counter}}">{{stat}}</td>
                      {% else %}
                        <td class="oof" id="{{ v.0 }}:{{forloop.counter}}">{{stat}}</td>
                      {% endif %}
                  {%endif%}
              {%endfor%}
            </tr>
            {% endfor %}


        </table>
      </div>

      {% if hInjuryDisplay %}
      <br>
      <div style="margin-top:35px;overflow: auto; color:white;">
        <table align="center" style="width:100%">
            <tr>
                <td style="width:200px"><center>Home Injuries</center></td>
                <td style="width:600px"><center>Description</center></td>
                <td><center>Date</center></td>
                <td><center>Status</center></td>

            </tr>

            {%for i in hInjuryComplex%}
              <tr>
                {% for foo in i%}
                <td><center>{{foo}}</center></td>
                {% endfor %}
              </tr>
            {% endfor%}
          </table>
        </div>

        {% endif %}
        {% if vInjuryDisplay %}
        <br>
        <div style="margin-top:35px;overflow: auto; color:white;">
          <table align="center" style="width:100%">
              <tr>
                  <td style="width:200px"><center>Visitor Injuries</center></td>
                  <td style="width:600px"><center>Description</center></td>
                  <td><center>Date</center></td>
                  <td><center>Status</center></td>
  
              </tr>
  
              {%for i in vInjuryComplex%}
                <tr>
                  {% for foo in i%}

                  <td><center>{{foo}}</center></td>
                  {% endfor %}
                </tr>
              {% endfor%}
            </table>
          </div>
          {% endif %}
          <br>
          <br>
          {% if complexSpreadDisplay %}
            <div style="margin-top:35px;overflow: auto; color:white;">
              <table align="center" style="width:100%">
                <tr>
                  <td style=""><center>Book</center></td>
                  <td style=""><center>HomeSpread</center></td>
                  <td><center>VisitorSpread</center></td>
                  <td><center>HomeML</center></td>
                  <td><center>VisitorML</center></td>
                  <td><center>totalUnder</center></td>
                  <td><center>totalOver</center></td>
                  
              </tr>
              {% for line in complexSpread %}
              <tr>
                <td><center>{{ line.name }}</center></td>
                <td><center>{{ line.homeTeamSpread }}</center></td>
                <td><center>{{ line.awayTeamSpread }}</center></td>
                <td><center>{{ line.homeTeamMLOdds }}</center></td>
                <td><center>{{ line.awayTeamMLOdds }}</center></td>
                <td><center>{{ line.totalUnder }}</center></td>
                <td><center>{{ line.totalOver }}</center></td>
              </tr>
              {% endfor %}
              </table>
            </div>

          {% endif %}
      <br>
      <br>

          <div style="margin-left:10x">
            <a style='margin-left:3px' class="btn btn-grey-secondary"href="{%url 'update-spread' pk %}">Update Odds</a>

            {% if isAuthor %}
          {% if bet %}
          <a style='margin-left:3px' class="btn btn-grey-secondary"href="{%url 'bet' pk %}">Bet True</a>

          {% else %}
          <a style='margin-left:3px'class="btn btn-grey-secondary"href="{%url 'bet' pk %}">Bet False</a>
          {% endif %}
            {% endif %}
            <p class="text-muted"style="margin-left:3px;white-space: pre-line;margin-bottom:2px;margin-top:3px">Model: {{model}} &nbsp&nbsp&nbsp Removed Players: {{removed_players}} </p>
            <p class="text-muted"style="margin-left:3px;white-space: pre-line;margin-bottom:2px;margin-top:3px">User: {{author}}    &nbsp&nbsp&nbsp csvid: {{csvid}}    &nbsp&nbsp&nbsp  GameID: {{gameid}}   &nbsp&nbsp&nbsp  created: {{date_posted}} </p>
            </div>
        </div>
        
        <script defer>
        var changes = "change=";
        var asdf =""
        editing = false

        document.body.addEventListener('click', function (event) {
          console.log('click')

        var press = jQuery.Event("keypress");
        press.ctrlKey = false;
        press.which = 13;
        $(".e").trigger(press);
        console.log(changes)

        })



        $(function(){
            $(".e").click(function(event){
                if(!editing){
                  editing=true;
                  if($(this).children("input").length > 0)
                      return false;
                  f = $(this).attr("id");
                  var tdObj = $(this);
                  asdf = tdObj
                  lastObj = tdObj
                  var preText = tdObj.html();
                  var inputObj = $("<input type='number' id='asdf'/>");
                  tdObj.html("");
                  inputObj.width(tdObj.width())
                      .height(tdObj.height())
                      .css({border:"0px",fontSize:"17px"})
                      .val(preText)
                      .appendTo(tdObj)
                      .trigger("focus")
                      .trigger("select");

                  inputObj.keyup(function(event){
                      if(13 == event.which) { // press ENTER-key
                          var text = $(this).val();
                          tdObj.html(text);
                          changes += f+":"+$(this).val()+"-";
                          editing=false;
                      }

                      else if(27 == event.which) {  // press ESC-key
                          tdObj.html(preText);
                          editing=false;

                      }

                    });



                  inputObj.click(function(){
                      return false;
                  });
            }

            });
        });

        function myFunction() {
            window.location.href = document.getElementById("model-slot").value +'/'+changes;

        }
        </script>




      </div>





  </body>
{% endblock %}
