{% extends "predict/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
@media screen and (max-width: 750px) {
    .col-9 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}
hr{
    
}
</style>

<div class="col-9 center" style="padding:0px">
    <div style="margin-top:10px" class="content-section">
        <br>
        
        <h2><i class="fas fa-question-circle"></i> Frequently Asked Questions </h2>
        <br>

        <div class="faq">
            <div class="question" onclick="toggleAnswer('answer1')" >What types of data does FireBet.ai use?</div>
            <hr style="background-color:var(--main-font-color) !important;margin:0px !important">
            <div class="answer" id="answer1" style="display: none;">FireBet.ai uses comprehensive datasets including short-term high-frequency momentum data as well as long-term seasonal averages. This allows us to create holistic models that efficiently map game scores to input data.
                <a href="/forum/forum/model-training-3/" style="text-decoration: underline;">FireForum Model Training</a>

            </div>
            <div class="question" onclick="toggleAnswer('answer2')">How Does FireBet.ai Ensure the Accuracy of Its Predictions?</div>
            <hr style="background-color:var(--main-font-color) !important;margin:0px !important">

            <div class="answer" id="answer2" style="display: none;">FireBet.ai employs tensorflow machine learning models evaluated using test hold-out datasets. While we continuously strive to enhance our model's accuracy, it's important to note that no predictive model is infallible, and you should use our predictions as one of several tools in your decision-making process.
                <a href="/forum/forum/model-training-3/" style="text-decoration: underline;">FireForum Model Training</a>

            </div>

         
            <div class="question" onclick="toggleAnswer('answer3')">How are FireBet.ai models fine tuned and customized?</div>
            <hr style="background-color:var(--main-font-color) !important;margin:0px !important">

            <div class="answer" id="answer3" style="display: none;">FireBet.ai TensorFlow models can be optimized in many ways using our model customization dashboard.  the data models train on, what optimizer functions are used, and even the number of neurons in each layer can be changed and customized to influence model behavior.  
                <a href="/forum/forum/model-training-3/" style="text-decoration: underline;">FireForum Model Training</a>
            
            </div>
            <div class="question" onclick="toggleAnswer('answer4')">What Types of Sports Does FireBet.ai Cover?</div>
            <hr style="background-color:var(--main-font-color) !important;margin:0px !important">

            <div class="answer" id="answer4" style="display: none;">FireBet.ai as a platform provides Arbitrage market analysis and EV bets for over 50 event types including Boxing, Tennis, and Cricket as well as college level and mainstream sports.  FireBet.ai also offers NBA TensorFlow AI models, offering in-depth analysis and predictions. 
                <a href="/forum/forum/model-training-3/" style="text-decoration: underline;">FireForum Model Training</a>
            
            </div>

            <div class="question" onclick="toggleAnswer('answer5')">What Is FireBet Arbitrage, and How Does It Work?</div>
            <hr style="background-color:var(--main-font-color) !important;margin:0px !important">

            <div class="answer" id="answer5" style="display: none;">The FireBet Arbitrage tool is designed to help you become a profitable sports bettor. Arbitrage in sports betting involves placing multiple bets on all possible outcomes of an event, taking advantage of the variations in odds to guarantee a profit. Our Arbitrage tool calculates odds from over 200 sports-books worldwide, identifying hundreds of arbitrage opportunities every day. 

                <a href="/forum/forum/arbitrage-6/" style="text-decoration: underline;">FireForum Arbitrage</a>
            </div>


                


            
            <div class="question" onclick="toggleAnswer('answer7')">What is the disclaimer regarding the use of FireBet.ai?</div>
            <hr style="background-color:var(--main-font-color) !important;margin:0px !important">

            <div class="answer" id="answer7" style="display: none;">FireBet.ai is provided as an analytical tool and should be used as such. We do not guarantee the accuracy of models generated by our tool. Users must exercise their own judgment and independently assess information before making betting decisions.</div>
            
            <div class="question" onclick="toggleAnswer('answer8')">Where Can I Learn More About FireBet and Engage with the Community?</div>
            <hr style="background-color: rgba(0,0,0,.1) !important;margin:0px !important">

            <div class="answer" id="answer8" style="display: none;">To learn more about FireBet and engage with a community of like-minded individuals, we encourage you to visit our forum. The forum is a space where users can discuss strategies, ask questions, share insights, and stay updated on the latest features and developments of FireBet. <a href="/forum/" style="text-decoration: underline;">FireForum</a> </div>

            <br>
        </div>
    </div>
</div>

<script>
function toggleAnswer(answerId) {
    var answer = document.getElementById(answerId);
    if (!answer) {
        console.log("Element not found:", answerId);
        return;
    }

    // Reset any existing transition
    answer.style.transition = "";

    if (getComputedStyle(answer).display === "none") {
        // Prepare the element for animation
        answer.style.display = "block";
        answer.style.height = "0px";
        answer.style.overflow = "hidden";

        // Force a reflow to apply the styles
        answer.offsetHeight;

        // Start the animation
        answer.style.transition = "height 0.5s ease";
        answer.style.height = answer.scrollHeight/3 + "px";
        answer.style.transition = "height 0.3s ease";

        answer.style.height = answer.scrollHeight/2 + "px";
        answer.style.transition = "height 0.1s ease";

        answer.style.height = answer.scrollHeight + "px";
    } else {
        // Start the collapsing animation
        answer.style.height = answer.scrollHeight + "px";
        answer.offsetHeight;
        answer.style.transition = "height 0.3s ease";
        answer.style.height = "0px";

        // Set display none after the animation completes
        setTimeout(() => {
            answer.style.display = "none";
        }, 75); // This should match the duration of the transition
    }
}


</script>
<style>
hr{
    display: none;
}
.question {
    background-color: var(--secondary-background);


    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}
.question:hover {
    opacity: .7;
}

.answer {
    margin-top:10px;
    padding: 15px;
    overflow: hidden;
    background-color: var(--secondary-background);
    margin-bottom: 10px;
    display: none; /* Keep it initially hidden */
    border-radius: 20px;

}


</style>

{% endblock content %}
