{% extends "predict/base.html"%}
{% load crispy_forms_tags %}


{% load static %}


{% block content%}


<body class="row" style="overflow-x: hidden;">


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="col-12" style="margin-top:25px;">
    <div class="content-section" style="min-height:500px">

            <div class="row">
                <div class="col-lg-4">
                    <center>
                        <img id="team-logo" class="" style="display:inline;height: 150px;"src="{{data.nbaComHeadshot}}">

                    </center>

                </div>
                <div class="col-lg-4">
                    <center>                    
                        <h2 class="player-name" style="margin-top:30px">{{name}} {{position}}.</h2>
                        <a class='btn btn-grey-secondary' href="{% url 'update-stats' id %}">Update Stats</a>
                        <a class='btn btn-grey-secondary' href="{% url 'update-team' id %}">Update Team</a>
                    </center>

                </div>
                <div class="col-lg-4">
                    <center>
                        <img id="team-logo" class="" style="display:inline;height: 150px;"src="{% static 'predict/nba-logo/' %}{{ abv }}.webp">
                    </center>

                </div>
            </div>
            



       



        <div style="margin-top:0px;overflow: auto; color:white;margin-bottom:20px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
            <table align="center" style="width:100%;">
                <tr>
                      {% for label in labels %}
                      <td style="width:10px"><center>{{label}}</center></td>
                      {% endfor %}
    
                </tr>
                <tr>
                    {% for stat in seasonAverage %}
                    <td>
                        <center>
                            {{stat}} 
    
                        </center>
                    </td>
    
                    {% endfor%}
    
                </tr>
                <tr>
                    <td colspan="3" style=""><center>Conference</center></td>
                    <td colspan="3"><center>Division</center></td>
                    <td colspan="3"><center>Height</center></td>
                    <td colspan="3"><center>Weight</center></td>
                    <td colspan="5"><center>Status</center></td>
    
                </tr>
                <tr>
                    <td colspan="3" style=""><center>{{conference}}</center></td>
                    <td colspan="3"><center>{{division}}</center></td>
                    <td colspan="3"><center>{{height_feet}}' {{height_inches}}</center></td>
                    <td colspan="3"><center>{{weight_pounds}} Lbs.</center></td>
                    {% if data.injury %}
                    <td colspan="5"><center>{{data.description}}</center></td>
                    {% else %}
                    <td colspan="5"><center>Not Injured</center></td>

                    {% endif %}
                </tr>

                </table>





                
        </div>















        <div  style="position:absolute;bottom:5px">
            <p class="text-muted" style="margin-bottom:0px">TeamID: {{team}}</p>
            <p class="text-muted"style="margin-bottom:25px">API: <a class="text-muted" href="https://www.balldontlie.io/api/v1/players/{{id}}" target="_blank">balldontlie.io/api/v1/players/{{id}}</a></p>
                
        </div>


    </div>


</div>


<script>
  

</script>
{% endblock content%}