{% extends "predict/base.html"%}
{% load crispy_forms_tags %}


{% load static %}


{% block content%}


<body class="row" style="overflow-x: hidden;margin-top:25px">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" defer>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" defer></script>

<div class="col-lg-6">
    <div style="margin-top:10px;height:725px"class="content-section" >

        <div style="width:100%;">
            <h2>Train Model</h2>
            <select id="model-slot" style="width:100%;height:35px;border-radius: 10px;margin-bottom: 2px !important;padding:5px;border: 0px;shadow: 0px;resize:none" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {%if model == '0' %}
                <option value="0" selected>Model 0</option>
                {% else %}
                <option value="0" >Model 0</option>
                {% endif%}
                {%if model == '1' %}
                <option value="1" selected>Model 1</option>

                {% else %}
                <option value="1">Model 1</option>

                {% endif%}
                {%if model == '2' %}
                <option value="2" selected>Model 2</option>
                {% else %}
                <option value="2">Model 2</option>
                {% endif%}


              </select>
              <hr>

            <label data-toggle="tooltip" data-placement="bottom" title="Each epoch is a single pass of the entire training dataset through the neural network model. " for="epochs-input">Epochs: <p style="display:inline"id="epochs-display">{{epochs}}</p></label>
            <input min="1" max="100" type="range" id="epochs-input" value="{{epochs}}" class="form-control"style="background-color:#fff;border-radius: 10px;padding:5px;border: 0px;shadow: 0px;resize:none">
            </input>

            <label data-toggle="tooltip" data-placement="bottom" title="number of samples that are propagated through the model at once during a single iteration of the training process." for="batch-size">Batch Size: <p style="display:inline"id="batch-display">{{batchSize}}</p></label>
            <input min="16" max="513" type="range"  id="batch-size" value="{{batchSize}}" class="form-control"style="background-color:#fff;border-radius: 10px;padding:5px;border: 0px;shadow: 0px;resize:none">
            </input>
            
            <label data-toggle="tooltip" data-placement="bottom" title="every neuron in the layer is connected to every neuron in the previous layer." for="layer1-count">Layer 1 Count: <p style="display:inline"id="1count-display">{{layer1Count}}</p></label>
            <input min="4" max="513" type="range"  id="layer1-count" value="{{layer1Count}}" class="form-control"style="background-color:#fff;border-radius: 10px;padding:5px;border: 0px;shadow: 0px;resize:none">
            <label data-toggle="tooltip" data-placement="bottom" title="mathematical function that is applied to the output of each layer, introducing non-linearity into the model."  for="layer1-activation">Layer 1 Activation:</label>
            <select id="layer1-activation" style="width:100%;height:35px;margin-bottom: 2px !important;border-radius: 10px;padding:5px;border: 0px;shadow: 0px;resize:none" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {%if layer1Activation == "relu"%}
                <option value="0" selected>relu</option>
                {% else %}
                <option value="0">relu</option>
                {% endif %}
                {%if layer1Activation == "LeakyReLU"%}
                <option value="1" selected>LeakyReLU</option>
                {% else %}
                <option value="1">LeakyReLU</option>
                {% endif %}
                {%if layer1Activation == "swish"%}
                <option value="2" selected>swish</option>
                {% else %}
                <option value="2">swish</option>
                {% endif %}
                {%if layer1Activation == "elu"%}
                <option value="3" selected>elu</option>
                {% else %}
                <option value="3">elu</option>
                {% endif %}
                {%if layer1Activation == "gelu"%}
                <option value="4" selected>gelu</option>
                {% else %}
                <option value="4">gelu</option>
                {% endif %}
                {%if layer1Activation == "selu"%}
                <option value="5" selected>selu</option>
                {% else %}
                <option value="5">selu</option>
                {% endif %}
              </select>            
            <label data-toggle="tooltip" data-placement="bottom" title="every neuron in the layer is connected to every neuron in the previous layer." for="layer2-count">Layer 2 Count: <p style="display:inline"id="2count-display">{{layer2Count}}</p></label>
            <input min="4" max="513" type="range" id="layer2-count" value="{{layer2Count}}" class="form-control"style="background-color:#fff;border-radius: 10px;padding:5px;border: 0px;shadow: 0px;resize:none">
            <label data-toggle="tooltip" data-placement="bottom" title="mathematical function that is applied to the output of each layer, introducing non-linearity into the model." for="layer2-activation">Layer 2 Activation:</label>
            <select id="layer2-activation" style="width:100%;height:35px;border-radius: 10px;margin-bottom: 2px !important;padding:5px;border: 0px;shadow: 0px;resize:none" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {%if layer2Activation == "relu"%}
                <option value="0" selected>relu</option>
                {% else %}
                <option value="0">relu</option>
                {% endif %}
                {%if layer2Activation == "LeakyReLU"%}
                <option value="1" selected>LeakyReLU</option>
                {% else %}
                <option value="1">LeakyReLU</option>
                {% endif %}
                {%if layer2Activation == "swish"%}
                <option value="2" selected>swish</option>
                {% else %}
                <option value="2">swish</option>
                {% endif %}
                {%if layer2Activation == "elu"%}
                <option value="3" selected>elu</option>
                {% else %}
                <option value="3">elu</option>
                {% endif %}
                {%if layer2Activation == "gelu"%}
                <option value="4" selected>gelu</option>
                {% else %}
                <option value="4">gelu</option>
                {% endif %}
                {%if layer2Activation == "selu"%}
                <option value="5" selected>selu</option>
                {% else %}
                <option value="5">selu</option>
                {% endif %}
              </select>
              
            <label data-toggle="tooltip" data-placement="bottom" title="method to update weights and biases of model during training to minimize the loss metric." for="optimizer">Optimizer:</label>
            <select id="optimizer" style="width:100%;height:35px;border-radius: 10px;margin-bottom: 2px !important;padding:5px;border: 0px;shadow: 0px;resize:none" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {%if optimizer == "adam"%}
                <option value="0" selected>adam</option>
                {% else %}
                <option value="0">adam</option>
                {% endif %}

                {%if optimizer == "adamax"%}
                <option value="1" selected>adamax</option>
                {% else %}
                <option value="1">adamax</option>
                {% endif %}

                {%if optimizer == "RMSprop"%}
                <option value="2" selected>RMSprop</option>
                {% else %}
                <option value="2">RMSprop</option>
                {% endif %}


                {%if optimizer == "adagrad"%}
                <option value="3" selected>adagrad</option>
                {% else %}
                <option value="3">adagrad</option>
                {% endif %}

                {%if optimizer == "nadam"%}
                <option value="4" selected>nadam</option>
                {% else %}
                <option value="4">nadam</option>
                {% endif %}
              </select>
            <br></br>

        </div>
        <div class="row" style="margin-bottom:15px;">
            <div class="col-6">
                <div class="form-check">
                    {% if es == 'true' %}
                    <input class="form-check-input" type="checkbox" value="" id="es" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="es">

                    {% endif %}
                    <label class="form-check-label" for="es">
                        Early Stopping
                    </label>
                </div>

                <div class="form-check" style="padding-top:3px">
                    {% if kr == 'true'%}
                    <input class="form-check-input" type="checkbox" value="" id="kr" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="kr">

                    {% endif %}
                    <label data-toggle="tooltip" data-placement="bottom" title="Adds the square of the weights to the loss function (mse)." class="form-check-label" for="kr">
                        Kernel regularizer
                    </label>
                </div>
            </div>            
            <div class="col-6">
                <div class="form-check">
                    {% if rmw == 'true' %}
                    <input class="form-check-input" type="checkbox" value="" id="rmw" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="rmw">

                    {% endif %}
                    <label class="form-check-label" for="rmw">
                        Restore Best Weights
                    </label>
                </div>

                <div class="form-check" style="padding-top:3px">
                    <input class="form-check-input" type="checkbox" value="" id="m" checked disabled>
                    <label class="form-check-label" for="m">
                        Coming soon
                    </label>
                </div>
            </div>            

        </div>
        <button id="train-button"onClick="trainModel()"type="submit" className="btn btn-grey-secondary" style="color:333333;border-radius: 10px;height:35px; border:none">Train Model <i class="fas fa-robot"></i></i></button>
        <button id="train-button"onclick="window.location.href='{%url 'home-predict'%}'+'resetmodel/'+document.getElementById('model-slot').value ;"type="submit" className="btn btn-grey-secondary" style="color:333333;border-radius: 10px;height:35px; border:none">Reset Model <i class="fas fa-trash"></i></button>
        <div id="loading-div" style="opacity:0;position:absolute;margin-top:0px!important;margin-left:5px!important;display:inline">
            <div style=""id="loading"></div>
        </div>


        </div>
       

    </div>

{% if showresults %}
<div class="col-lg-6">
    <div style="margin-top:10px;height:725px"class="content-section">
        
        <h2>Evaluation </h2>
        <p>Win/Loss: {{ results.wl }}%</p>
        <p>Spread Win/Loss: {{ results.swl }}%</p>
        <center>
            <table style="width:100%">
                <tr>
                    <center>
                        <td data-toggle="tooltip" data-placement="bottom" title="This is the model evalution consiting of {{ results.count }} test games the model has never seen.">Eval</td>
                    </center>
                    <center>
                        <td data-toggle="tooltip" data-placement="bottom" title="Games won against spread.">Win</td>

                    </center>

                    <center>
                        <td style="text-align: center" data-toggle="tooltip" data-placement="bottom" title="Total games tested.">Total</td>
                    </center>
                    <center>
                        <td data-toggle="tooltip" data-placement="bottom" title="Percent correct against spread.">%</td>
                    </center>
                    <center>
                        <td data-toggle="tooltip" data-placement="bottom" title="Postive varience game count.">+</td>

                    </center>
                    <center>
                        <td data-toggle="tooltip" data-placement="bottom" title="Negative varience game count.">-</td>
                    </center>


                    <center>
                        <td data-toggle="tooltip" data-placement="bottom" title="Total Profit at end of test.">Profit</td>
                    </center>

                </tr>
    
                <tr style="text-align: center">
                    <td>Margin 1</td>
                    <td>{{ results.evMargin1 }}</td>
                    <td>{{ results.evMargin1Count }}</td>
                    <td>{{ results.evMargin1Pct }}%</td>
                    <td>{{ results.evMargin1Max }}</td>
                    <td>{{ results.evMargin1Min }}</td>
                    <td>{{ results.evMargin1Profit }}$</td>
                </tr>
                    
                <tr style="text-align: center">
                    <td>Margin 2</td>
                    <td>{{ results.evMargin2 }}</td>
                    <td>{{ results.evMargin2Count }}</td>
                    <td>{{ results.evMargin2Pct }}%</td>
                    <td>{{ results.evMargin2Max }}</td>
                    <td>{{ results.evMargin2Min }}</td>
                    <td>{{ results.evMargin2Profit }}$</td>
                </tr>
                    
                <tr style="text-align: center">
                    <td>Margin 3</td>
                    <td>{{ results.evMargin3 }}</td>
                    <td>{{ results.evMargin3Count }}</td>
                    <td>{{ results.evMargin3Pct }}%</td>
                    <td>{{ results.evMargin3Max }}</td>
                    <td>{{ results.evMargin3Min }}</td>
                    <td>{{ results.evMargin3Profit }}$</td>
                </tr>
                    
                <tr style="text-align: center">
                    <td>Margin 4</td>
                    <td>{{ results.evMargin4 }}</td>
                    <td>{{ results.evMargin4Count }}</td>
                    <td>{{ results.evMargin4Pct }}%</td>
                    <td>{{ results.evMargin4Max }}</td>
                    <td>{{ results.evMargin4Min }}</td>
                    <td>{{ results.evMargin4Profit }}$</td>
                </tr>
            </table>
        </center>
        
        <hr>
        <p>Note: training can take up to a few minutes to complete.</p>
        <p>Activation funtions <a target="_blank" href="https://www.tensorflow.org/api_docs/python/tf/keras/activations">here</a>, and Optimizers  <a target="_blank" href="https://www.tensorflow.org/api_docs/python/tf/keras/optimizers">here</a>.</p>

    </div>
</div>
{% endif %}
</div>





<div class="col-lg-12" style="padding-left:0px;padding-right:0px">
    <div style="margin-top:10px;"class="content-section">

        <div style="margin-top:15px;margin-left: auto;margin-right: auto;height: 250px; width: 85%;">
            <canvas id="barChart"></canvas>
          </div>
        <div class="row" style="margin-top:25px;height:250px">
            <div class="col-4">
                <center>
                    <h5 data-toggle="tooltip" data-placement="bottom" title="Margin refers to the distance between the predicted outcome and the point spread. Margin 1 tracks games with predictions more than 1 point off the spread.">Margin 1</h5>
                </center>
                <div style="margin-top:10px;margin-left: auto;margin-right: auto;height: 200px; width: 80%;">
                    <canvas id="margin1"></canvas>
                  </div>
            </div>
            <div class="col-4">
                <center>
                    <h5 data-toggle="tooltip" data-placement="bottom" title="Margin refers to the distance between the predicted outcome and the point spread. Margin 2 tracks games with predictions more than 2 points off the spread.">Margin 2</h5>

                </center>
                <div style="margin-top:10px;margin-left: auto;margin-right: auto;height: 200px; width: 80%;">
                    <canvas id="margin2"></canvas>
                  </div>
            </div>
            <div class="col-4">
                <center>
                    <h5 data-toggle="tooltip" data-placement="bottom" title="Margin refers to the distance between the predicted outcome and the point spread. Margin 3 tracks games with predictions more than 3 points off the spread.">Margin 3</h5>

                </center>
                <div style="margin-top:10px;margin-left: auto;margin-right: auto;height: 200px; width: 80%;">
                    <canvas id="margin3"></canvas>
                  </div>
            </div>
        </div>
        <div id="margin-display" class="row"style="height:250px;margin-top:10px;">
            <div class="col-2"></div>
            <div class="col-4">
                <center>
                    <h5 style="margin-left:40px;"data-toggle="tooltip" data-placement="bottom" title="Predicted game winners without spread.">Win/Loss</h5>

                </center>
    
                <div style="margin-top:10px;margin-left: auto;margin-right: auto;height: 200px; width: 80%;">
                    <canvas id="win_loss"style="margin-left: auto !important;margin-right: auto !important;"></canvas>
                  </div>
    
    
            </div>
            
            <div class="col-4">
                <center>
                    <h5 style="margin-left:25px;"data-toggle="tooltip" data-placement="bottom" title="How often spread chooses correct winner.">Spread Win/Loss</h5>

                </center>
    
                <div style="margin-top:10px;margin-left: auto;margin-right: auto;height: 200px; width: 80%;">
                    <canvas id="spred_win"style="margin-left: auto !important;margin-right: auto !important;"></canvas>
                  </div>
    
    
            </div>
        </div>
    </div>
    
    
    

</div>























<div class="col-lg-12" style="padding-left:0px;padding-right:0px">

    <div class="content-section" style="margin-top:10px">
        <br>

        <center>
            Take's a few tries to get a model that converges properly, without overfitting. Overfitting is when the model effectively remembers previous game results rather than learning the essence of the game compared to the inputs, causing poor performance on test games never seen before, and good performance on training games the model remembers and has seen before.  60-70% accuracy on the margin 3 and 4 metrics is about the max ive gotten so far.
        </center>
        <br>
    </div>

</div>

<script>
    
    document.getElementById("epochs-input").addEventListener("input", () => {
        document.getElementById("epochs-display").innerHTML = document.getElementById("epochs-input").value;
    });

    document.getElementById("batch-size").addEventListener("input", () => {
        document.getElementById("batch-display").innerHTML = document.getElementById("batch-size").value;
    });
    document.getElementById("layer1-count").addEventListener("input", () => {
        document.getElementById("1count-display").innerHTML = document.getElementById("layer1-count").value;
    });
    document.getElementById("layer2-count").addEventListener("input", () => {
        document.getElementById("2count-display").innerHTML = document.getElementById("layer2-count").value;
    });
    document.getElementById("model-slot").addEventListener("input", () => {
        model = document.getElementById("model-slot").value
        window.location.href = "{% url 'home-predict' %}"+'train/'+model
    });

    function makeDataset(){
        seasons = document.getElementById("seasons-input").value
        numgames = document.getElementById("testGame-input").value
        window.location.href = "{% url 'make-dataset' %}/"+ seasons+'/'+numgames

    }
    function trainModel(){
        epochs = document.getElementById("epochs-input").value
        batchSize = document.getElementById("batch-size").value
        layer1Count = document.getElementById("layer1-count").value
        layer1Activation = document.getElementById("layer1-activation").value
        layer2Count = document.getElementById("layer2-count").value
        layer2Activation = document.getElementById("layer2-activation").value
        es = document.getElementById("es").checked
        rmw = document.getElementById("rmw").checked
        kr = document.getElementById("kr").checked

        optimizer = document.getElementById("optimizer").value
        optimizers = ['adam','adamax','RMSprop','adagrad','nadam']
        activations = ['relu','LeakyReLU','swish','elu','gelu','selu']
        document.getElementById("loading-div").style.opacity = 1
        
        model = document.getElementById("model-slot").value
        
        window.location.href = "{% url 'home-predict' %}"+'trainmodel/'+model+'/'+ epochs+'/'+batchSize +'/'+layer1Count+'/'+activations[layer1Activation]+'/'+layer2Count+'/'+activations[layer2Activation]+'/'+optimizers[optimizer]+'/'+es+'/'+rmw+'/'+kr

    }
</script>
<style>
    #loading {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
    }

</style>

{{ eval.spreadCorrect|json_script:"scorrect" }}
{{ eval.spreadWrong|json_script:"swrong" }}


{{ eval.correct|json_script:"correct" }}
{{ eval.wrong|json_script:"wrong" }}

{{ eval.evMargin1|json_script:"evMargin1" }}
{{ eval.evMargin1wrong|json_script:"evMargin1wrong" }}

{{ eval.evMargin2|json_script:"evMargin2" }}
{{ eval.evMargin2wrong|json_script:"evMargin2wrong" }}

{{ eval.evMargin3|json_script:"evMargin3" }}
{{ eval.evMargin3wrong|json_script:"evMargin3wrong" }}




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script  src="{% static 'predict/eval.js'%}" defer></script>


</div>
{% endblock content %}



<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


</style>